<div class="activities-container">
  <div class="activity">
    <fa-icon class="fa-3x" [icon]="faRunning"></fa-icon>
  </div>
  <div class="activity">
    <fa-icon class="fa-3x" [icon]="faDumbbell"></fa-icon>
  </div>
  <div class="activity">
    <fa-icon class="fa-3x" [icon]="faBiking"></fa-icon>
  </div>
  <div class="activity">
    <fa-icon class="fa-3x" [icon]="faSkiingNordic"></fa-icon>
  </div>
  <div class="activity">
    <fa-icon class="fa-3x" [icon]="faSnowflake"></fa-icon>
  </div>
</div>
