.forecast-container {
  border: 2px solid #000;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
  max-width: 400px;
}

.week-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.day-container {
  display: flex;
  flex-direction: column;
  padding: 5px 5px;
  margin: 5px 5px;
  border: 1px solid #000;
  border-radius: 10px;
  font-size: 14px;
}
