<div class="forecast-container">
  <h2>7 Day Forecast</h2>
  <div class="week-container">
    <div *ngFor="let dailyForecast of sevenDayForecast" class="day-container">
      <div class="row date-row">
        <span>{{ dailyForecast.dayOfWeek }}</span>
        <span>{{ dailyForecast.date }}</span>
      </div>
      <activities [currentWeather]="dailyForecast"></activities>
      <div class="row">
        <span>{{ dailyForecast.conditions }}</span>
      </div>
      <div class="row">
        <span>High:</span>
        <span>{{ dailyForecast.high }} deg C</span>
      </div>
      <div class="row">
        <span>Low:</span>
        <span>{{ dailyForecast.low }} deg C</span>
      </div>
      <div class="row">
        <span>Wind:</span>
        <span>{{ dailyForecast.wind }} km/h</span>
      </div>
    </div>
  </div>
</div>
