.forecast-container {
  border-radius: 10px;
  padding: 20px;
  min-width: 225px;
  background-color: #102a43c0;
  filter: drop-shadow(1px 1px 2px #000);
  margin: 20px 0;
}

.week-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.day-container {
  display: flex;
  flex-direction: column;
  padding: 8px 12px;
  margin: 5px 5px;
  border-radius: 10px;
  font-size: 14px;
  background-color: #334e6883;
  min-width: 150px;
  max-width: 350px;
  flex-grow: 1;
}

.row {
  padding: 2px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.date-row {
  border-bottom: 0.5px solid #fff;
  margin-bottom: 5px;
  padding-bottom: 2px;
  padding-bottom: 4px;
  font-weight: bold;
}

@media screen and (min-width: 500px) {
  .week-container {
    flex-direction: row;
    justify-content: center;
  }
}
@media screen and (min-width: 700px) {
  .week-container {
    flex-direction: row;
    justify-content: flex-start;
  }
}
