<div class="forecast-container">
  <h2>5 Day Weather History</h2>
  <div class="week-container">
    <div *ngFor="let dailyWeather of weatherHistory" class="day-container">
      <div class="row date-row">
        <span>{{ dailyWeather.dayOfWeek }}</span>
        <span>{{ dailyWeather.date }}</span>
      </div>
      <div class="row">
        <span>{{ dailyWeather.conditions }}</span>
      </div>
      <div class="row">
        <span>Temp:</span>
        <span>{{ dailyWeather.temperature }} &#176;C</span>
      </div>
      <div class="row">
        <span>Wind:</span>
        <span>{{ dailyWeather.wind }} km/h</span>
      </div>
    </div>
  </div>
</div>
