<div class="current-weather-container">
  <h2>Current Weather</h2>
  <div *ngIf="!changeLocation" class="row">
    <h3 class="city">{{ currentWeather.cityName }}</h3>
    <button (click)="toggleChangeLocation()" class="location-button">
      Change Location
    </button>
  </div>
  <div *ngIf="changeLocation" class="row">
    <input [(ngModel)]="location" class="location-input" type="text" />
    <div class="buttons-container">
      <button (click)="toggleChangeLocation()" class="location-button">
        Update Location
      </button>
      <button (click)="keepLocation(location)" class="location-button">
        <fa-icon [icon]="faTimes" class="fa-sm menu-icon"></fa-icon>
      </button>
    </div>
  </div>
  <div class="current-container">
    <div class="row date-row">
      <span>{{ currentWeather.dayOfWeek }}</span>
      <span>{{ currentWeather.date }}</span>
    </div>
    <activities [currentWeather]="currentWeather"></activities>
    <div class="row">
      <span>Current conditions:</span>
      <span>{{ currentWeather.conditions }}</span>
    </div>
    <div class="row">
      <span>Temperature:</span>
      <span>{{ currentWeather.temperature }} deg C</span>
    </div>
    <div class="row">
      <span>Wind:</span>
      <span>{{ currentWeather.wind }} km/h</span>
    </div>
  </div>
</div>
