<div class="current-weather-container">
  <h2>Current Weather</h2>
  <div *ngIf="!changeLocation" class="row">
    <h3 class="city">{{ weatherLocation.city }}</h3>
    <button (click)="toggleChangeLocation()" class="location-button">
      Change Location
    </button>
  </div>
  <div *ngIf="changeLocation" class="row">
    <select
      #selectedLocation
      name="location"
      id="location"
      class="location-input"
    >
      <option
        *ngFor="let city of locations"
        [value]="city"
        [selected]="isSelected(city)"
      >
        {{ city.city }}
      </option>
    </select>
    <div class="buttons-container">
      <button
        (click)="updateLocation(selectedLocation); toggleChangeLocation()"
        class="location-button"
      >
        Update Location
      </button>
      <button (click)="toggleChangeLocation()" class="location-button">
        <fa-icon [icon]="faTimes" class="fa-sm menu-icon"></fa-icon>
      </button>
    </div>
  </div>
  <div class="current-container">
    <div class="row date-row">
      <span>{{ currentWeather.dayOfWeek }}</span>
      <span>{{ currentWeather.date }}</span>
    </div>
    <activities [currentWeather]="currentWeather"></activities>
    <div class="row">
      <span>{{ currentWeather.conditions }}</span>
    </div>
    <div class="row">
      <span>Temperature:</span>
      <span>{{ currentWeather.temperature }} &#176;C</span>
    </div>
    <div class="row">
      <span>Wind:</span>
      <span>{{ currentWeather.wind }} km/h</span>
    </div>
  </div>
</div>
