<div class="current-weather-container">
  <h2>Current Weather: {{ currentWeather.cityName }}</h2>
  <div class="current-container">
    <span>{{ currentWeather.dayOfWeek }}</span>
    <span>{{ currentWeather.date }}</span>
    <activities></activities>
    <div class="row">
      <span>Current conditions:</span>
      <span>{{ currentWeather.conditions }}</span>
    </div>
    <div class="row">
      <span>Temperature:</span>
      <span>{{ currentWeather.temperature }} deg C</span>
    </div>
    <div class="row">
      <span>Wind:</span>
      <span>{{ currentWeather.wind }} km/h</span>
    </div>
  </div>
</div>
